
body{
  background-color: pink;
}
.container {
  width: 400px;
  margin: 0 auto;
}

h1{
  color: white;
  text-align: center;
}
.box {
  background-color: white;
  box-sizing: border-box;;
  display: inline-flex;
  height: 130px;
  width: 130px;
  border-bottom: : 2px solid black;
  margin-bottom: 5px;
}

p{
  text-align: center;
  vertical-align: middle;
}
.box input{
  width: 50px;
  heigh: 50px;
}
